body {
    font-family: sans-serif;
}

img {
    width: 1rem;
}

.standings-line {
    background-color: rgb(250, 250, 250);
    display: flex;
    padding: 0.3rem 0.3rem;
    border-bottom: 1px solid rgb(53, 53, 53);
    justify-content: space-between;
}

.standing-container {
    border: 1px solid rgb(53, 53, 53);
    border-radius: 5px;
    width: 35rem;
}

.info-grid {
    display: flex;
    align-items:end;
    justify-content: flex-end;
}

.stats-title {
    margin-inline: 1rem;
    width: 15px;
    text-align: center;
}

.left-aligned {
    margin-right: 1rem;
    display: flex;
    width: 100%;
}

.left-info {
    margin-inline: 0.6rem;
    width: 15px;
    text-align: center;
}

.right-aligned {
    display: flex;
    align-items: end;
    justify-content: flex-end;
}

.right-info {
    margin-inline: 1rem;
    width: 14px;
    text-align: center;
}

#team-name-div {
    width: 140px;
    text-align: left;
}

